/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans SC', sans-serif; */

body {
    background: #DED3CE;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 120%;
}

#home {
    min-height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 450px) {
    #home {
        background-image: url('background-cropped.jpg');
    }
}

#about {
    min-height: 100vh;
}

#timeline {
    min-height: 100vh;
}

#skills {
    min-height: 100vh;
}

#portfolio {
    min-height: 100vh;
}

#contact {
    min-height: 100vh;
}

h1 {
    font-family: 'Alegreya', serif;
    color: white;
}

