/* palette colors:
Light shades - WAFER DED3CE
Light accent - WAIKAWA GRAY 5B749E
Main brand color - DISCO 6D0663
Dark accent - SMOKY 685A77
Dark shades - WOODSMOKE 131519
typography:
h1: alegreya
h2: algreya sans sc
p: alegreya sans
*/

body {
    background: #DED3CE;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 120%;
}

#home {
    min-height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 450px) {
    #home {
        background-image: url('background-cropped.jpg');
    }
}

#about {
    min-height: 100vh;
}

#timeline {
    min-height: 100vh;
}

#skills {
    min-height: 100vh;
}

#portfolio {
    min-height: 100vh;
}

#contact {
    min-height: 100vh;
}

body, html, .container-fluid {
    height: 100vh;
}

h1 {
    font-family: 'Alegreya', serif;
    color: rgba(255,255,255,.5);
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    color: #131519;
}